<%- include('partials/page-header', { title: 'Change Password' }) %>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <% if (success) { %>
                <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                        Password successfully changed
                    </h1>
                    <div class="govuk-panel__body">
                        Your password has been updated
                    </div>
                </div>
                <p class="govuk-body">
                    <a href="/login" class="govuk-link">Return to sign in</a>
                </p>
                <% } else { %>
                    <form action="/auth/change-password" method="POST" novalidate>
                        <input type="hidden" name="token" value="<%= token %>">

                        <div class="govuk-form-group <%= errors && errors.password ? 'govuk-form-group--error' : '' %>">
                            <label class="govuk-label" for="password">
                                New password
                            </label>
                            <div id="password-hint" class="govuk-hint">
                                Your password must be at least 8 characters long and include a lowercase letter,
                                uppercase letter, number, and special character
                            </div>
                            <% if (errors && errors.password) { %>
                                <span id="password-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    <%= errors.password %>
                                </span>
                                <% } %>
                                    <input
                                        class="govuk-input <%= errors && errors.password ? 'govuk-input--error' : '' %>"
                                        id="password" name="password" type="password"
                                        aria-describedby="password-hint <%= errors && errors.password ? 'password-error' : '' %>">
                        </div>

                        <div
                            class="govuk-form-group <%= errors && errors.confirmPassword ? 'govuk-form-group--error' : '' %>">
                            <label class="govuk-label" for="confirmPassword">
                                Confirm new password
                            </label>
                            <% if (errors && errors.confirmPassword) { %>
                                <span id="confirmPassword-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>
                                    <%= errors.confirmPassword %>
                                </span>
                                <% } %>
                                    <input
                                        class="govuk-input <%= errors && errors.confirmPassword ? 'govuk-input--error' : '' %>"
                                        id="confirmPassword" name="confirmPassword" type="password"
                                        aria-describedby="<%= errors && errors.confirmPassword ? 'confirmPassword-error' : '' %>">
                        </div>

                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Change password
                            </button>
                        </div>
                    </form>
                    <% } %>
        </div>
    </div>