<%- include('partials/page-header', { title: 'Reset Password' }) %>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="/auth/reset" method="POST" novalidate>
                <div class="govuk-form-group <%= errors && errors.email ? 'govuk-form-group--error' : '' %>">
                    <label class="govuk-label" for="email">
                        Email address
                    </label>
                    <div id="email-hint" class="govuk-hint">
                        We'll send a password reset link to this email
                    </div>
                    <% if (errors && errors.email) { %>
                        <span id="email-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            <%= errors.email %>
                        </span>
                        <% } %>
                            <input class="govuk-input <%= errors && errors.email ? 'govuk-input--error' : '' %>"
                                id="email" name="email" type="email" spellcheck="false" autocomplete="email"
                                aria-describedby="email-hint <%= errors && errors.email ? 'email-error' : '' %>"
                                value="<%= locals.email || '' %>">
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Send reset link
                    </button>
                </div>
            </form>

            <p class="govuk-body">
                <a href="/login" class="govuk-link">Back to sign in</a>
            </p>
        </div>
    </div>